<div class="panel-group" style="margin-top: 10px;">
  <form class="form">
    <div class="form-group">
      <select class="form-control">
        <option value="all" selected>All</option>
        <option value="day">Today</option>
        <option value="week">This week</option>
        <option value="month">This month</option>
        <option value="quarter">This quarter</option>
        <option value="year">This year</option>
      </select>
  </div>
  </form>
</div>
